{% extends "base/base_admin.html" %}

{% block title %}关于{% endblock title %}

{% block breadcrumb %}
<li><a href="/">首页</a></li>
<li><span>关于</span></li>
{% endblock breadcrumb %}

{% block main %}
<!-- 文章 -->
<article class="article">
    <div class="article-main markdown">
        {{ context.markdown_content | markdown_to_html | safe }}
    </div>
</article>
<!-- 附件 -->
{% if context.attachments %}
<div class="article-attachment-list">
    {% for attachment in context.attachments %}
    <div class="article-attachment-item">
        <div class="article-attachment-name">{{ attachment.name }}</div>
        <div class="article-attachment-exts">
            <div class="article-attachment-size">{{ attachment.size | human_size }}</div>
            <div>
                <span>|</span>
                <a class="article-attachment-download-btn" download="{{ attachment.name }}"
                    href="/articles/{{ attachment.article_id }}/attachments/{{ attachment.attachment_id }}">下载</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock main %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', init_code_copy_btn);
</script>
{% endblock scripts %}