:root {
    --blog-font-family-text: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB, Microsoft Yahei, Arial, sans-serif;
    --blog-font-family-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

*,
::after,
::before {
    font-family: inherit;
    font-variant-ligatures: none;
}

body {
    font-family: var(--blog-font-family-text);
    color: var(--blog-color-text);
}

pre code {
    font-family: var(--blog-font-family-code);
}