# ------------------------------------------------------------------------------
# 安全配置
# ------------------------------------------------------------------------------
[security]
# 是否启用 Cookie 的 Secure 属性
cookie_secure = false

# ------------------------------------------------------------------------------
# HTTP 服务相关配置
# ------------------------------------------------------------------------------
[http]
# 服务绑定的 IP 地址
bind_ip = "127.0.0.1"
# 服务绑定的端口号
bind_port = 3000
# 优雅关机的超时时间
shutdown_timeout = "30s"

# ------------------------------------------------------------------------------
# 日志配置
# ------------------------------------------------------------------------------
[logger]
# 日志记录级别
level = "info"
# 启用日志文件输出
enable_file_output = false
# 日志文件存储目录
file_dir = "log"
# 日志文件名前缀
file_prefix = "mysite.log"
# 日志文件最大保留数量
max_keep_files = 7

# ------------------------------------------------------------------------------
# 请求体大小限制配置
# ------------------------------------------------------------------------------
[body_limit]
# 默认请求体大小限制
default_limit = "2MiB"
# 自定义请求体大小限制规则列表
rules = [
    { path = "/resource/upload", method = "POST", limit = "200MiB" },
    { path = "/article/upload_attachment", method = "POST", limit = "200MiB" },
]

# ------------------------------------------------------------------------------
# 数据库配置
# ------------------------------------------------------------------------------
[database]
# 连接字符串
url = "sqlite::memory:"

# ------------------------------------------------------------------------------
# SQLite 配置
# ------------------------------------------------------------------------------
[database.sqlite]
# 扩展文件目录
extensions_dir = "sqlite/extensions"

# ------------------------------------------------------------------------------
# 数据库迁移配置
# ------------------------------------------------------------------------------
[database.migrations]
# 是否自动运行迁移
auto_migrate = true
# 迁移脚本的扩展名
script_extension = ".sql"
# 迁移脚本存放目录
script_dir = "sqlite/migrations"

# ------------------------------------------------------------------------------
# 数据库日志配置
# ------------------------------------------------------------------------------
[database.log]
# 获取连接耗时过长时使用的日志级别
acquire_slow_level = "WARN"
# 当获取连接的耗时超过此阈值时，将使用 acquire_slow_level 对应的日志级别记录
acquire_slow_threshold = "3s"

# ------------------------------------------------------------------------------
# 数据库连接池配置
# ------------------------------------------------------------------------------
[database.pool]
# 最小连接数量
min_connections = 1
# 最大连接数量
max_connections = 6
# 连接获取超时时间
acquire_timeout = "3s"
# 连接空闲超时时间
idle_timeout = "10m"
# 连接最大保持时间
max_lifetime = "30m"

# ------------------------------------------------------------------------------
# 资源文件配置
# ------------------------------------------------------------------------------
[resource]
# 上传文件的存储目录
upload_dir = "data/upload"
# 上传文件的大小限制
upload_file_max_size = "200MiB"
# 公开文件的存储目录
public_dir = "data/public"

# ------------------------------------------------------------------------------
# 管理员配置
# ------------------------------------------------------------------------------
[admin]
# TOTP 工具导入链接（OTPAuth URL格式，用于生成二维码供扫码绑定）
totp_url = "otpauth://totp/admin?secret=PRF5QLSBAI7E75OTRSFBPELL3E"
# 会话有效期
session_ttl = "24h"

# ------------------------------------------------------------------------------
# JWT 配置
# ------------------------------------------------------------------------------
[jwt]
# JWT 密钥
secret = "bc0805d578df487e869792ccb878f3da"

# ------------------------------------------------------------------------------
# 主题配置
# ------------------------------------------------------------------------------
[theme]
# 主题文件存储的目录路径
dir = "themes"
# 是否启用内置的代码语法
enable_default_code_syntax = true
# 是否启用内置的代码主题
enable_default_code_themes = true
# 当前使用的页面主题名称
current_page_theme = "simple"
# 当前使用的代码主题名称
current_code_theme = "Solarized (light)"

# ------------------------------------------------------------------------------
# 定时任务配置
# ------------------------------------------------------------------------------
[cron.tasks.prune_db_table_cache]
# 启用定时任务
enabled = true
# 日程表达式
schedule = "*/30 * * * * *"

# ------------------------------------------------------------------------------
# 文章配置
# ------------------------------------------------------------------------------
[article]
# 文章访问许可有效期
access_access_ttl = "1h"
# 全文搜索匹配结果最大输出条目
full_text_search_limit = 100
# 文章标题最大长度限制
title_max_size = "80"
# 文章摘要最大长度限制
excerpt_max_size = "150"
# 文章正文最大长度限制
content_max_size = "2MiB"
# 作为 About 页面的文章
# about_article_id = ""
